#canvas {
  background-color: #f7dab7;
  float: left;
  margin-right:10px;
}

.round-corner15 {
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.minwidth { 
  min-width:100px; 
  width: auto !important; 
  width: 100px; 
}

.controlTable tr {
  height: 60px;
}

.controlTable td {
  width: 60px;
  border: 1px solid black;
  text-align: center;
}

.controlTable a {
  font-size: 250%;
  font-weight: bold;
  text-align: center;
  color: #00F;
}

.controlTable a:hover {
  text-decoration: none;
  color: #7DAF27;
  cursor: pointer;
}

#you {
  width:48px;
  height:48px;
  margin: auto;
}

.uc1 {
  color: #f68600;
  fill: #f68600;
}

.uc2 {
  color: #0070c0;
  fill: #0070c0;
}

.uc3 {
  color: #7dcc15;
  fill: #7dcc15;
}

.uc4 {
  color: #f10c0c;
  fill: #f10c0c;
}

.uc5 {
  color: #fafa0d;
  fill: #fafa0d;
}

.uc6 {
  color: #b402ff;
  fill: #b402ff;
}

.actionGroup {
  border-color: #9684fc;
  border-width: 3px;
}







