#canvas {
  background-color: #f7dab7;
  float: left;
  margin-right:10px;
}

.round-corner15 {
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.btn-success {
  cursor: pointer;
}

.left {
  float: left;
  clear: both;
}

.leftSide {
  width: 440px;
  float: left;
}

.rightSide {
  float: left;
  margin-left: 5px;
}

.minwidth { 
  min-height: 460px;
  min-width:710px; 
  width: auto !important; 
}

.asset {
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #c7d4e7;
  border:1px solid black;
  cursor: pointer;
  width: 260px;
  min-height: 64px;
  margin-bottom: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.status {
  float: right;
  margin: 24px 10px 0 0;
}

.asset img {
  width: 64px;
  float: left;
}

.asset .heading {
  color: black;
  font-weight: bold;  
}

.asset p {
  margin: 0; /* 20px 0 0; */
  text-align: center;
}

#chatPanel {
  width:100%;
}

#chatInput {
  width: calc(100% - 60px);
  display:block;
}

#sendChat {
  float: right;
  height: 17px;
  margin: 0;
  padding: 5px;
  width: 34px;
  text-align: center;
}

.roundHeading {
  font-size: 150%;
}

#roundHistory {
  padding-left: 12px;
}

.roundTab {
  border-radius: 5px 5px 0 0;
  border-style: solid solid none;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0 1px;
  padding: 0 4px;
  text-align: center;
}

.selectedTab {
  background-color: #c7d4e7;
}

.modalQuestion {
  background-color: rgba(200, 200, 200, 0.65);
  height: 570px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  border-radius: 25px;
  padding-top: 49px;
  text-align: center;
}

.modalQuestion .btn-success {
  min-width: 300px;
}

.modalQuestion h2 {
  font-size: 200%;
}

#game {
}

#gameTitle {
  font-family: 'Coda Caption', sans-serif;  
}

#instructions {
  margin-top: 20px;
  font-family: 'Coda Caption', sans-serif;  
  text-align: center;
  position: relative;
  height:190px;
  padding: 20px;
}

.instruction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.instruction p {
  font-family: 'Coda Caption', sans-serif;  
  font-size: 160%;
  line-height: 32px;
  margin: 20px;
  max-width: 700px;
}

.instruction ul {
  list-style-type: none;
  text-align: left; 
  font-size: 120%;
}

.instruction ul li {
  font-size: 110%;
}

#bottomPanel {
  position: absolute;
  bottom: 0;
  left: 300px;
  width: 450px;
}

#inext {
  
}

.sitrep_wrapper {
  height: 400px;
  min-width: 290px;
  overflow: hidden;
  width: auto;
  border: solid 1px;
  background-color: #CCCCCC;
  color: #222222;
}

#sitrep {
  width: auto;
}

#sitrep th {
  text-align: left;
  min-width: 120px;
}

.scroll-pane { float:left; }
.scroll-content { float: left; }
.scroll-bar-wrap {
  clear: left;
  float: right;
  height: 389px;
  margin: 0 -1px;
  padding: 4px 2px 7px;
}
.ui-slider-vertical { height: 100%; }
.ui-slider-range { background-color: #FFFFFF;} 