#canvas {
  background-color: #f7dab7;
  float: left;
  margin-right:10px;
  max-height: 440px;
  margin-bottom:5px;
}

.round-corner15 {
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
}

.btn-success {
  cursor: pointer;
}

.left {
  float: left;
  clear: both;
}

.leftSide {
  width: 440px;
  float: left;
}

.rightSide {
  float: left;
  margin-left: 5px;
}

.minwidth { 
  min-height: 460px;
  min-width:710px; 
  width: auto !important; 
}

.asset {
   position: relative;  
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #c7d4e7;
  border: 1px solid black;
  cursor: pointer;
  width: 260px;
  min-height: 64px;
  margin-bottom: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.status {
  float: right;
  margin: 24px 10px 0 0;
}

.asset img {
  width: 64px;
  float: left;
}

.asset .heading {
  color: black;
  font-weight: bold;  
}

.asset p {
  margin: 0; /* 20px 0 0; */
  text-align: center;
}

.asset_info {
  background-color: #3377FF;
  border-radius: 3px;
  bottom: 0;
  position: absolute;
  right: 0;
  padding: 0 4px;
  color: #FFFFFF;
}

#chatPanel {
  width:100%;
}

#chatInput {
  width: calc(100% - 60px);
  display:block;
}

#sendChat {
  float: right;
  height: 22px;
  margin: 0;
  padding: 0;
  width: 48px;
  text-align: center;
}

.roundHeading {
  font-size: 150%;
}

#roundHistory {
  padding-left: 12px;
}

.roundTab {
  border-radius: 5px 5px 0 0;
  border-style: solid solid none;
  border-width: 2px;
  cursor: pointer;
  display: inline-block;
  margin: 0 1px;
  padding: 0 4px;
  text-align: center;
}

.selectedTab {
  background-color: #c7d4e7;
}

.modalQuestion {
  background-color: rgba(200, 200, 200, 0.80);
  height: 570px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  border-radius: 25px;
  padding-top: 49px;
  text-align: center;
}

.modalQuestion .btn-success {
  min-width: 300px;
}

.modalQuestion h2 {
  font-size: 200%;
  font-weight: bold;
}

#game {
}

#gameTitle {
  font-family: 'Coda Caption', sans-serif;  
  margin-top: 0px;
}

#instructions {
  font-family: 'Coda Caption', sans-serif;  
  text-align: center;
  position: relative;
  height:250px;
  padding: 20px;
}

#userBoard {
  clear: both;
}

.instruction {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
}

.instruction p {
  font-family: 'Coda Caption', sans-serif;  
  font-size: 160% !important;
  line-height: 32px;
  margin: 20px;
  max-width: 700px;
}

.instruction ul {
  text-align: left; 
  font-size: 120%;
}

.instruction ul li {
  font-size: 110%;
}

.role_instruction {
  float: left;
  font-size: 80%;
  text-align: left;
}

.role_instruction img {
  
}

.role_instruction p {
  line-height: 1.5em;
}

.role_instruction h3 {
  text-align: center;
}

#bottomPanel {
  position: relative;
  clear: both;
}

.pushUpPanel {
  top: -40px;
  height: 20px;
  left: 200px;
  position: absolute;
  width: 400px;
}

#inext {
  
}

#sitRep_wrapper {
  height: 300px;
}

#chat_wrapper {
  height: 150px;
}

.scroll-pane {
  min-width: 290px;
  overflow: hidden;
  width: auto;
  border: solid 1px;
  background-color: #CCCCCC;
  color: #222222;
}

#sitrep {
  width: auto;
}

#sitrep th {
  text-align: left;
  min-width: 120px;
}

.scroll-content { float: left; }
.scroll-bar-wrap {
  clear: left;
  float: right;
  height: calc(100% - 11px);
  margin: 0 -1px;
  padding: 4px 2px 7px;
}
.ui-slider-vertical { height: 100%; }
.ui-slider-range { background-color: #FFFFFF;}


#marker_panel {
  font: Arial;
  font-size: 20px;
  float:right;
  text-align: center;
  font-weight: bold;
  margin-right: 16px;
}

#marker_panel p {
  vertical-align: bottom;
  float: left;
  font: Arial;
  font-size: 20px;
  font-weight: bold;
  margin-top: 9px;
}

.marker_btn {
  float:right;
  width: 27px;
  margin: 5px;
  background-color: #c7d4e7;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}

#marker_x {
  color: #cc4444;
}

#marker_q {
  color: #ffff44;
}

#marker_z {
  color: #44cc44;
}

.btn-primary {
  cursor: pointer;
}

#series_indicators {
  display: none;
  float:right;
  margin-right: 40%;
}

.series {
  color: #999999;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px 4px;
  margin: 2px;
}

.series_current {
  color: #000000;
  font-weight: bold;
}

.cursor_x {
  cursor: url('/attachment/cursor_x.png') 15 16, default !important;
}

.cursor_q {
  cursor: url('/attachment/cursor_q.png') 16 17 , default !important;
}

.cursor_z {
  cursor: url('/attachment/cursor_z.png') 16 17, default !important;
}

.cursor_c {
  cursor: url('/attachment/cursor_c.png') 16 17, default !important;
}



