.solution {
    border: 2px dashed #444;
    height: 58px;
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    min-width: 600px;
    padding: 0 10px;
    line-height: 1.8em;
}

.solution div {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
}

#control_group {
    height: 180px;
}

#suggestions {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

#suggestions div {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    float: left;
}


.word {
    margin: 0 3px;
    cursor: pointer;
}

.lastWord {
    cursor: default;
}

.arrow {
    width: 24px;
    height: 16px;
    cursor: pointer;
    background-repeat:no-repeat;
    background-size: 100%;
}

.btn-success {
  cursor: pointer;
}

.blank, .ellipsis {
  font-weight: 700;
}


.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.word_input_group {
  border: 2px solid #000;
  border-radius: 15px;
  float: left;
  height: 155px;
  padding: 8px;
  margin-right: 10px;
  
}

#word_input {
  float: left;
}

.letter {
  float: left;
}

.upArrow {
  width:64px;
  height:64px;
  background-position: 0% 0%;
}

.upArrow-disabled {
  background-position: 100% 0%;
}

.downArrow {
  width:64px;
  height:64px;
  background-position: 0% 100%;
}

.downArrow-disabled {
  background-position: 100% 100%;
}

.letter_input {
  text-align: center; 
  width: 40px;
  margin: auto;
  display: block;
}

#word_input_buttons {
  float: left;
  position: relative;
  height: 90px;
  width: 78px;
  margin-top:33px;
  margin-left:20px;
}

#accept {
  position: absolute;
  top: 0px;
  left: 0px;
}

#reset {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#wm_title {
  text-align: center;
}

#instructions {
  text-align: center;
  position: relative;
  height:90px;
}

.instruction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


#instructions p {
  font-size: 150%;
  line-height: 1.5em;
  margin-bottom:0;
}


.instruction_solution {
  height: 80px;
  font-size: 40px;
}

.instruction_solution .arrow {
  width: 70px;
  height: 50px;
}
  
.instruction_arrow {
  width: 70px;
  height: 50px;
}

.large_suggestions {
  font-size: 300%;
  height:50px !important;
}

.large_suggestions div {
  margin-right:30px;
}

#no_keyboard {
  margin-right: 10px;
}

#play_a_game {
  text-align: center;
  width: 100px;
  margin: auto;
}


