#dealer_row {
  width: 100%;
  height: 200px;
}

.dealer_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 244px;
}

.dealer {
  border: 2px solid #000000;
  text-align: center;
  min-width: 146px;
  float: left;
}

.shoe {
  height: 200px;
  width: 100px;
  float: left;
}

.hand {
  border: 1px solid #000000;
  min-width: 140px;
  margin: 2px;
  padding-top: 2px;
}

.activeHand {
  background-color: #bbbbff;
}

#players {
  clear: both;
  margin: auto;
  display: inline-block;
}

.player {
  display: inline-block;
  border: 2px solid #000000;
  margin-right: 20px;
  text-align: center;
  float: right;
}

.handValue {
  clear: both;
  text-align: center;
}

.row_wrapper {
  width: 100%;  
}

#player_buttons {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.buttons div {
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #33BB33;
  width: 100px;
  text-align: center;
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}