#canvas {
  float: left;
}

#playerTable {
  min-width: 877px;
}

.gameTitle {
  font-size: 160%;
  text-align:center;
  color: #000;
  width: 720px;
}

.gameLabel {
  font-size: 100%;
  text-align:center;
  color: #000;
}

.score {
  font-size: 100%;
  text-align:center;
  color: #000;
}

#clock {
  font-size: 500%;
  color: #000;
}

#status_box {
  overflow: hidden;
}

#q1 input {
  float: right;
  width: 300px;
}

#q1 div {
  display: inline-block;
  margin-bottom:10px;
}

.leftPanel {
  float: left;
  border-radius: 15px;
}

.leftTable {
  text-align:center;
  background-color: #f7941e;
  height: 480px;
  width: 130px;
  border-radius: 15px;
  margin-right: 4px;
}

.leftTable td {
  height:75px;
}

#solution_table td {
  border: 1px solid black;
}

.bottomPanel {
  display: none;
}

#results {
  text-align:center;
}

#result_table {
  width: 100%;
  font-size: 200%;
  color:#000;
  background-color: #0e76bc;
  border-radius: 15px;
}

#result_table th {
  padding: 15px;
}

#submitButton {
  white-space: normal;
  max-width: 94px; 
}

.blank_row {
  height: 20px !important;
 }
 
.teamSolution {
  border: 1px solid black;
  float: left;
  height: 204px;
  margin: 17px 10px;
  padding: 0;
  width: 194px;
  border-radius: 15px;
}

.teamSolution * {
  margin-left: auto ;
  margin-right: auto ;
}

.test_wrapper {
  font-family: inherit;
}

.center_everything {
  text-align: center;
}
 
 
.instruction_wrapper {
  width: 98%;
  height: 610px;
}
 
.instruction_pic {
  float:left;
}

.instruction_pic img {
  max-width: 50%;
}

.instruction_words {
  float:right;
  text-align: left;
  padding:1% 0 0 1%;
}


#example1 {
  width: 70%;
  padding-right:-33%;
}

#example1 .instruction_words {
  width: 48%;
}

#example2 {
  width:70%;
  margin-top: -6%;
  margin-left: 20%;
}

#example2 .instruction_words {
  width: 48%;
}

#example3 {
  width:60%;
  margin-top: -6%;
  margin-left: 40%;
}

#example3 .instruction_words {
  width: 40%;
}

#example3 img {
  max-width: 58%;
}

#example4 {
  padding-top: 20px;
  width: 100%;
  float: left;
}

#example {
  width: 46%;
  float: left;
}

#example img {
  width: 100%;
}

#team_examples {
  width: 18%;
  float: left;
}

#instruction_words2 {
  float: left;
  width: 34%;
  text-align: left;
  padding:1% 0 0 1%;
}

.teamSolutionEx {
  width: 80%;
}


