#canvas {
  float: left;
}

#playerTable {
  min-width: 877px;
}

.gameTitle {
  font-size: 160%;
  text-align:center;
  color: #000;
  width: 720px;
}

.gameLabel {
  font-size: 100%;
  text-align:center;
  color: #000;
}

.score {
  font-size: 100%;
  text-align:center;
  color: #000;
}

.clock_cls {
  font-size: 500%;
  color: #000;
}

#status_box {
  overflow: hidden;
}

#q1 input {
  float: right;
  width: 300px;
}

#q1 div {
  display: inline-block;
  margin-bottom:10px;
}

.leftPanel {
  float: left;
  border-radius: 15px;
  height: 480px;
}

.leftTable {
  text-align:center;
  background-color: #f7941e;
  height: 480px;
  width: 130px;
  border-radius: 15px;
  margin-right: 4px;
}

.leftTable input[type="submit"] {
  font-size:18px;
  width: 128px;
  height: 58px;
  white-space: normal;
  padding:0;
}

.leftTable td {
  height:75px;
}

#solution_table td {
  border: 1px solid black;
}

#results {
  text-align:center;
}

#result_table {
  width: 100%;
  font-size: 200%;
  color:#000;
  background-color: #0e76bc;
  border-radius: 15px;
}

#result_table th {
  padding: 15px;
}

.right {
  float: right;
  margin-left:10px;
}

.blank_row {
  height: 20px !important;
 }
 
.teamSolution {
  border: 1px solid #000000;
  border-radius: 15px;
  float: left;
  height: 224px;
  margin: 0px 10px 17px;
  padding: 0;
  width: 200px;
}

.teamSolution * {
  margin-left: auto ;
  margin-right: auto ;
}

.test_wrapper {
  font-family: inherit;
}

.center_everything {
  text-align: center;
}
 
 
.instruction_wrapper {
  width: 98%;
  height: 610px;
}
 
.instruction_pic {
  float:left;
}

.instruction_pic img {
  max-width: 50%;
}

.instruction_words {
  float:right;
  text-align: left;
  padding:1% 0 0 1%;
}

#instructions {
  text-align: center;
  position: relative;
  height:190px;
}

.instruction {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.instruction p {
  font-size: 140%;
  font-weight: bold;
  line-height: 1em;
}

.bottomPanel {
  position: absolute;
  bottom: 0;
  left: 0;
}

#example1 {
  width: 70%;
  padding-right:-33%;
}

#example1 .instruction_words {
  width: 48%;
}

#example2 {
  width:70%;
  margin-top: -6%;
  margin-left: 20%;
}

#example2 .instruction_words {
  width: 48%;
}

#example3 {
  width:60%;
  margin-top: -6%;
  margin-left: 40%;
}

#example3 .instruction_words {
  width: 40%;
}

#example3 img {
  max-width: 58%;
}

#example4 {
  padding-top: 20px;
  width: 100%;
  float: left;
}

#example {
  width: 46%;
  float: left;
}

#example img {
  width: 100%;
}

#team_examples {
  width: 18%;
  float: left;
}

#instruction_words2 {
  float: left;
  width: 34%;
  text-align: left;
  padding:1% 0 0 1%;
}

.teamSolutionEx {
  width: 80%;
}

.mainPanel {
  position: relative;
  min-width: 760px;
}

#midRoundPopup {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  margin-left: 1%;
  background-color: #aaaaaa;
  z-index: 30;
  opacity: 0.90;
  height: 480px;
  border-radius: 15px;
  padding: 40px;
}

#midRoundOk {
    position: absolute;
    bottom: 30%;
    widthh: 25%;
    left: 38%;
    height: 80px;
    
}

#midRoundChoices {
  width: 100%;
}

#midRoundChoices div {
  float: left;
  margin: 0 5px;
}

#midRoundText {
  text-align: center; 
}

